<app-title title="Cart Page" margin="1.5rem 0 0 2.5rem"></app-title>
<app-not-found
  [visible]="!cartItemsDetailed || !cartItemsDetailed.length"
  notFoundMessage="Cart Page Is Empty!"
  resetLinkText="Go To Home And Add to Cart"
></app-not-found>
<div *ngIf="cartItemsDetailed && cartItemsDetailed.length" class="container">
  <ul>
    <li *ngFor="let cartItem of cartItemsDetailed">
      <div>
        <img [src]="cartItem.food.imageUrl" alt="food image" />
      </div>
      <div>
        <a routerLink="/food/{{ cartItem.food.id }}">
          {{ cartItem.food.name }}
        </a>
      </div>
      <div>
        <select
          #quantitySelect
          [value]="cartItem.quantity"
          (change)="updateCartItemQuantity(cartItem, quantitySelect.value)"
        >
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div>
        {{ cartItem.food.price | currency : "LKR " }}
      </div>
      <!-- <div>{{ cartItem?.food.price * cartItem?.quantity }}</div> -->
      <div>
        <button class="remove-button" (click)="deleteCartItem(cartItem)">
          Remove
        </button>
      </div>
    </li>
  </ul>
  <div class="checkout"><app-cart-summary></app-cart-summary></div>
</div>
